doctype html
html(lang='en')
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/OurServices">OurServices</a></li>
  <li><a href="/ContactUs">Contact Us </a></li>
</ul>
<input class="search" type="text" name="search" placeholder="Enter a search term..."/>  
 head
   title Services!
   body
   h1 This are our services!